<section class="about-us">

  <div class="about-us__choose-item">
    <div class="progressive-blur"></div>
    <div class="about-us__choose-content">
      <h4 class="about-us__choose-title">Why Choose Space Service</h4>
      <p class="about-us__choose-text">At Space Service, we build our work on
        trust, transparency, and
        long-term cooperation.</p>
    </div>
    <div class="about-us__button">
      <!--= include buttons/button-secondary.html-->
    </div>
  </div>

  <div class="about-us__advantage-item">
    <div class="about-us__advantage-text">
      Space Service is a service where trust, quality, and honesty matter more
      than volume
    </div>
  </div>

  <div class="about-us__container-item">
    <div class="about-us__column">
      <article class="about-us__article about-us__article--max-height">
        <div class="about-us__article-header">
          <div class="about-us__article-symbol">🤝</div>
          <div class="about-us__article-title">Individual approach <br> and fair
            pricing</div>
        </div>
        <p class="about-us__article-text">We take into account the specifics of
          your vehicle, your budget, and your preferences. We offer only
          justified solutions — no forced services or hidden fees. Our goal is
          fair pricing and real value for the client.</p>
      </article>
      <article class="about-us__article">
        <div class="about-us__article-header">
          <div class="about-us__article-symbol">🛠</div>
          <div class="about-us__article-title">We work for trust, not <br>
            volume</div>
        </div>
        <p class="about-us__article-text">For us, the priority is not the number
          of cars per day, but the quality of work and your peace of mind. We
          focus on long-term relationships and aim for every client to become a
          regular.</p>
      </article>
    </div>

    <div class="about-us__column">
      <article class="about-us__article">
        <div class="about-us__article-header">
          <div class="about-us__article-symbol">🎯</div>
          <div class="about-us__article-title">Promotions <br> and special
            offers</div>
        </div>
        <p class="about-us__article-text">Our clients can benefit from special
          promotions and discount coupons, making maintenance even more
          accessible.</p></article>
      <article class="about-us__article about-us__article--max-height">
        <div class="about-us__article-header">
          <div class="about-us__article-symbol">🔍</div>
          <div class="about-us__article-title">Complete transparency <br> of
            repairs</div>
        </div>
        <p class="about-us__article-text">Upon request, we provide photo and
          video reports of all work stages. You always know exactly what is
          being done to your vehicle and what you are paying for.</p></article>
    </div>
  </div>

</section>