<section class="about-us">
  <div class="about-us__wrqpper">
    <div class="about-us__choose-item">
      <div class="progressive-blur"></div>
      <div class="about-us__choose-content">
        <h4 class="about-us__choose-title">Why Choose Space Service</h4>
        <p class="about-us__choose-text">At Space Service, we build our work on
          trust, transparency, and
          long-term cooperation.</p>
      </div>
      <div class="about-us__button">
        <!--= include buttons/button-secondary.html-->
      </div>
    </div>
    <div class="about-us__advantage-item">
    </div>
    <div class="about-us__container-item">
      <div class="about-us__column"><article class="about-us__aricle"></article>
        <article class="about-us__aricle"></article></div>
      <div class="about-us__column"><article class="about-us__aricle"></article>
        <article class="about-us__aricle"></article></div>
    </div>
  </div>
</section>