<section class="comfort-section">
  <div class="comfort-section__header">
    <h4 class="comfort-section__title">Comfortable Waiting</h4>
    <p class="comfort-section__subtitle">While we work on your car, relax and
      enjoy the comfort of our waiting area!</p>
  </div>

  <div class="comfort-section__content">
    <div class="comfort-section__item">
      <div class="comfort-section__item-image"><svg
          class="icon icon-coffee"><use
            xlink:href="#icon-coffee"></use></svg></div>
      <h6 class="comfort-section__item-title">Mini-Bar</h6>
      <p class="comfort-section__item-text">Try our aromatic tea, enjoy a
        variety of coffees, and if you get hungry — we’ll gladly treat you to a
        delicious hot dog!</p>
    </div>
    <div class="comfort-section__item">
      <div class="comfort-section__item-image"><svg class="icon icon-wi-fi"><use
            xlink:href="#icon-wi-fi"></use></svg></div>
      <h6 class="comfort-section__item-title">Wi-Fi</h6>
      <p class="comfort-section__item-text">We’ve created a cozy space for our
        clients with comfortable sofas, free Wi-Fi, and everything you need for
        a pleasant wait.</p>
    </div>
    <div class="comfort-section__item">
      <div class="comfort-section__item-image"><svg class="icon icon-play"><use
            xlink:href="#icon-play"></use></svg></div>
      <h6 class="comfort-section__item-title">PlayStation</h6>
      <p class="comfort-section__item-text">To make sure boredom never catches
        you off guard, we have a PlayStation available. Dive into the world of
        games, relax, and enjoy every moment!</p>
    </div>
  </div>
  <div class="comfort-section__btn">
    <!--=include buttons/button-primary.html-->
  </div>
</section>