<section class="contacts-section" id="contacts">
  <div class="contacts-section__info">
    <div class="contacts-section__info-location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.654354562969!2d20.9082796!3d52.2859768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eca165e527475%3A0xbd93d37c10830dce!2sW%C3%B3lczy%C5%84ska%20173%2C%2001-919%20Warszawa%2C%20Polska!5e0!3m2!1spl!2sua!4v1776624593454!5m2!1spl!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    <div class="contacts-section__info-content">
      <h4 class="contacts-section__info-title">
        Contact Information
      </h4>
      <p class="contacts-section__info-text">
        We’ll provide a consultation, estimate the cost, and schedule your visit
        at a time that works for you
      </p>
      <ul class="contacts-section__info-list">
        <li class="contacts-section__info-item"><a target="_blank"
            href="https://www.google.com/maps/place/W%C3%B3lczy%C5%84ska+173,+01-919+Warszawa,+Polska/@52.2859801,20.9056993,17z/data=!3m1!4b1!4m6!3m5!1s0x471eca165e527475:0xbd93d37c10830dce!8m2!3d52.2859768!4d20.9082796!16s%2Fg%2F11f32yhbg3?authuser=0&hl=pl&entry=ttu&g_ep=EgoyMDI2MDQwMS4wIKXMDSoASAFQAw%3D%3D"
            class="contacts-section__info-link"> <svg
              class="icon icon-marker"><use
                xlink:href="#icon-marker"></use></svg> 01-919, Wólczyńska 173,
            Warsaw</a></li>
        <li class="contacts-section__info-item"><a
            href="mailto:space.service.ws7@gmail.com"
            class="contacts-section__info-link"> <svg
              class="icon icon-envelope"><use
                xlink:href="#icon-envelope"></use></svg>
            space.service.ws7@gmail.com</a></li>
        <li class="contacts-section__info-item">
          <a href="tel:+48666605646" class="contacts-section__info-link">
            <svg class="icon icon-call-outgoing">
              <use xlink:href="#icon-call-outgoing"></use>
            </svg>
            +48 666 605 646
          </a>
        </li>
        <li class="contacts-section__info-item">
          <div class="contacts-section__info-socials">
            <a href="#"><img src="../../images/socials/x-contact.webp"
                alt="x"></a>
            <a href="#"><img src="../../images/socials/instagram-cont.webp"
                alt="insta"></a>
            <a href="#"><img src="../../images/socials/telegram-cont.webp"
                alt="telegram"></a>
            <a href="#"><img src="../../images/socials/facebook-cont.webp"
                alt="face"></a>
            <a href="#"><img src="../../images/socials/linkedin-const.webp"
                alt="link"></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contacts-section__image"></div>
  </div>
  
  <div class="contacts-section__form-wrapper">
    <h2 class="request-form-modal__title">Send a Request</h2>
    <p class="request-form-modal__text">
      Leave a request and our specialist will contact you shortly to clarify
      details, answer your questions, and offer the best solution for your
      vehicle.
    </p>
    <!--= include forms/form-contacts.html-->
  </div>
</section>