<section class="gallery" id="gallery">

  <div id="carouselExampleSlidesOnly" class="carousel slide"
    data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active slide-1">
        <!--=include main/gallery-slide.html-->
      </div>
      <div class="carousel-item slide-2">
        <!--=include main/gallery-slide.html-->
      </div>
      <div class="carousel-item slide-3">
        <!--=include main/gallery-slide.html-->
      </div>
      <div class="carousel-item slide-4">
        <!--=include main/gallery-slide.html-->
      </div>
    </div>
  </div>

</section>