<div class="gallery__slide">
    <div class="gallery__slide-column">
      <div class="gallery__item wc"><img src="./images/gallery-img/wc.webp"
          alt="wc"></div>
      <div class="gallery__item cards"><img src="./images/gallery-img/cards.webp"
          alt="cards"></div>
    </div>

    <div class="gallery__slide-column">
      <div class="gallery__item snack"><img src="./images/gallery-img/snacks.webp"
          alt="snack"></div>
      <div class="gallery__item rudder"><img src="./images/gallery-img/rudder.webp"
          alt="rudder"></div>
    </div>

    <div class="gallery__slide-column">
      <div class="gallery__item coffee"><img src="./images/gallery-img/coffee.webp"
          alt="coffee"></div>
      <div class="gallery__item sofa"><img src="./images/gallery-img/sofa.webp"
          alt="sofa"></div>
    </div> 

    <div class="gallery__slide-column">
      <div class="gallery__item engine"><img src="./images/gallery-img/engine.webp"
          alt="engine"></div>
      <div class="gallery__item tyre"><img src="./images/gallery-img/tyre.webp"
          alt="tyre"></div>
    </div>
  </div>