<div class="instagram-section-card">
  <div class="instagram-section-card__header">
    <img src="./images/logos/logo-circle.webp" alt="logo">
    <div class="instagram-section-card__action">
      <ul class="instagram-section-card__action-list">
        <li class="instagram-section-card__action-item">
          <a
            class="instagram-section-card__action-link instagram-section-card__action-link--main"
            href="https://www.instagram.com/space.service_pl"
            target="_blank">space.service_pl</a>
        </li>
        <li class="instagram-section-card__action-item">
          <span>•</span>
        </li>
        <li class="instagram-section-card__action-item">
          <a class="instagram-section-card__action-link" target="_blank"
            href="https://www.instagram.com/space.service_pl">Subscribe</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="instagram-section-card__img">
    <img src="./images/card-img.webp" alt="img">
  </div>

  <div class="instagram-section-card__footer">
    <ul class="instagram-section-card__icons-list">
      <li class="instagram-section-card__icons-item"><img
          src="./images/heart.svg" alt="heart"></li>
      <li class="instagram-section-card__icons-item"><img
          src="./images/comment.svg" alt="comment"></li>
      <li class="instagram-section-card__icons-item"><img
          src="./images/telegram.svg" alt="telegram"></li>
      <li class="instagram-section-card__icons-item"><img
          src="./images/flag.svg" alt="flag"></li>
    </ul>
    <div class="instagram-section-card__text">
      <p> W Space Service wykonujemy naprawy samochodów o każdym stopniu
        skomplikowania <a href="#" class="read-more">🚗...</a>
      </p>
      <span class="text-hidden">
        Napisz do nas w direct — przeprowadzimy bezpłatną
        konsultację i dobierzemy dogodny termin
      </span>
      <a href="#" class="read-less">... 🙌</a>
    </div>
    <div class="instagram-section-card__date"></div>
  </div>
</div>