<section class="instagram-section">
  <div class="instagram-section__header">
    <div class="instagram-section__appeal">
      Follow Us on Instagram
    </div>
    <div class="instagram-section__text">
      See real results, behind-the-scenes work, and completed projects from our
      workshop. We share how we restore, service, and transform cars every day.
    </div>
  </div>
  <div class="instagram-section__carousel">
    <div id="carouselExampleSlidesOnly" class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slide-instagram d-flex gap-4">
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
          </div>
        </div>
        <div class="carousel-item">
          <div class="slide-instagram d-flex gap-4">
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
          </div>
        </div>
        <div class="carousel-item">
          <div class="slide-instagram d-flex gap-4">
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
            <!--= include main/instagram-section-card.html-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=include buttons/button-primary.html-->
</section>