<section class="instagram-section">
  <div class="instagram-section__header">
    <div class="instagram-section__appeal">
      Follow Us on Instagram
    </div>
    <div class="instagram-section__text">
      See real results, behind-the-scenes work, and completed projects from our
      workshop. We share how we restore, service, and transform cars every day.
    </div>
  </div>
  <div class="instagram-section__carousel">
    <!--= include main/instagram-section-card.html-->
  </div>
  <!--=include buttons/button-primary.html-->
</section>