<section class="service-banner">
  <div class="service-banner__content">
    <div class="service-banner__slogan">
      Get a Professional Auto Service Today!
    </div>
    
    <div class="service-banner__text">We’ll take care of your car with precision
      and care — from full diagnostics to complete repairs.</div>
      
      <div class="service-banner__book-btn">
        <!--=include buttons/button-secondary.html-->
      </div>
    </div>
    
    <div class="service-banner__bgd">
    </div>
</section>