<section class="services-section" id="services">
  <div class="services-section__header">
    <div class="services-section__appeal">
      Get a <span>Professional</span> Auto Service Today!
    </div>
    <div class="services-section__text">We’ll take care of your car with
      precision and care — from full diagnostics to complete repairs.
    </div>

    <div class="services-section__book-btn">
      <!--= include buttons/button-primary.html-->
    </div>
  </div>

  <!--= include main/accordion.html-->
</section>