* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Regular', sans-serif;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}