* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--fs-14);
  font-family: var(--f-reg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}