@import './fonts/fonts.scss';
@import './constants/normalize.scss';
@import './constants/mixins.scss';
@import './constants/base.scss';
@import './libs/swiper.scss';
@import './variables/variables.scss';
@import './components/header.scss';
@import './components/logo.scss';
@import './components/select.scss';
@import './components/mobile-lang-select.scss';
@import './components/button.scss';
@import './components/navigation.scss';
@import './components/carousel.scss';
@import './components/burger-menu-btn.scss';
@import './components/mobile-menu.scss';




footer {
  width: 100%;
  height: 80px;
  background-color: #CCD1D9;
  font-size: 30px;
}