<header class="header">
  <nav class="header__nav">
    <img src="../../images/logos/logo.svg" alt="logo">

    <div class="header__nav-container">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="#about"
            class="header__nav-link">About
            Us</a></li>
        <li class="header__nav-item"><a href="#gallery"
            class="header__nav-link">Gallery</a></li>
        <li class="header__nav-item"><a href="#services"
            class="header__nav-link">Services</a></li>
        <li class="header__nav-item"><a href="#reviews"
            class="header__nav-link">Reviews</a></li>
        <li class="header__nav-item"><a href="#contacts"
            class="header__nav-link">Contacts</a></li>
      </ul>

      <div class="header__nav-control">
        <select name="lang" id="lang" class="header__nav-select">
          <option value="en" class="header__nav-option">EN</option>
          <option value="ukr" class="header__nav-option">UKR</option>
        </select>
        
        <button type="button" id="book-btn" class="book__btn">
          <div class="book__btn-text">Book an appointment</div>
          <div class="book__btn-arrow"><svg
              class="icon icon-free-icon-font-angle-small-right"><use
                xlink:href="#icon-free-icon-font-angle-small-right"></use></svg></div>
        </button>
      </div>
    </div>

  </nav>
</header>