<div class="carousel-item active">
 
  <div class="header__header-1">
    
    <nav class="header__nav">
      <!--=include logo/logo.html-->

      <div class="header__nav-container">
        <!--=include header/navigation.html -->
        <!--=include selects/select.html -->
        <!--=include buttons/button-primary.html -->
      </div>
    </nav>

    <div class="header__title-wrapper">
      <!--=include header/title_1.html -->
      <!--=include buttons/button-primary.html -->
      <!--=include header/info.html -->
    </div>
  </div>
  
</div>