<div class="header-google-rating">
  <div class="header-google-rating__header">
    <div class="header-google-rating__header-logo">
      <img src="./images/google-logo.svg" alt="google">
    </div>
    <div class="header-google-rating__header-rating">
      <div class="header-google-rating__header-title">
        Google Rating
      </div>
      <div class="header-google-rating__header-assessment">
        <div class="header-google-rating__header-points">
          4.7
        </div>
        <div class="header-google-rating__header-stars">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-semistar.webp" alt="star">
        </div>
      </div>
    </div>
  </div>
  <div class="header-google-rating__footer">
    <a href="#">See all our reviews</a>
    <a href="#"><img src="./images/angle-small-right.svg" alt="arrow"></a>
  </div>
</div>