<header class="header">

  <!-- carousel -->

  <div id="carouselExampleIndicators" class="carousel slide"
    data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="header__header-1">
          <nav class="header__nav">
            <img src="../../images/logos/logo.svg" alt="logo">

            <div class="header__nav-container">
              <!--=include header/navigation.html -->
              <!--=include header/select.html -->
              <button type="button" class="book__btn">
                <!--=include header/button-content.html -->
              </button>
            </div>
          </nav>

          <div class="header__title-wrapper">
            <!--=include header/title_1.html -->
            <button type="button" class="book__btn">
              <!--=include header/button-content.html -->
            </button>
            <!--=include header/info.html -->
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="header__header-2">
          <nav class="header__nav">
            <img src="../../images/logos/logo.svg" alt="logo">

            <div class="header__nav-container">
              <!--=include header/navigation.html -->
              <!--=include header/select.html -->
              <button type="button" class="book__btn">
                <!--=include header/button-content.html -->
              </button>
            </div>
          </nav>

          <div class="header__title-wrapper">
            <!--=include header/title_2.html -->
            <button type="button" class="book__btn">
              <!--=include header/button-content.html -->
            </button>
            <!--=include header/info.html -->
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="header__header-3">
          <nav class="header__nav">
            <img src="../../images/logos/logo.svg" alt="logo">

            <div class="header__nav-container">
              <!--=include header/navigation.html -->
              <!--=include header/select.html -->
              <button type="button" class="book__btn">
                <!--=include header/button-content.html -->
              </button>
            </div>
          </nav>

          <div class="header__title-wrapper">
            <!--=include header/title_3.html -->
            <button type="button" class="book__btn">
              <!--=include header/button-content.html -->
            </button>
            <!--=include header/info.html -->
          </div>
        </div>
      </div>

      <!-- 🔥 НОВИЙ WRAPPER -->
      <div class="carousel-controls">

        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"></button>
        </div>

        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>

      </div>

    </div>

  </div>

</header>