<header class="header">
  <nav class="header__nav">
    <img src="../../images/logos/logo.svg" alt="logo">

    <div class="header__nav-container">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="#about"
            class="header__nav-link">About
            Us</a></li>
        <li class="header__nav-item"><a href="#gallery"
            class="header__nav-link">Gallery</a></li>
        <li class="header__nav-item"><a href="#services"
            class="header__nav-link">Services</a></li>
        <li class="header__nav-item"><a href="#reviews"
            class="header__nav-link">Reviews</a></li>
        <li class="header__nav-item"><a href="#contacts"
            class="header__nav-link">Contacts</a></li>
      </ul>

      <div class="header__nav-control">
        <div class="header__nav-lang">
          <div class="header__nav-current">
            <img src="../../images/flags/gb.webp" alt="EN">
            <span>EN</span>
              <svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg>
          </div>

          <div class="header__nav-dropdown">
            <div class="header__nav-option" data-value="en">
              <img src="../../images/flags/gb.webp" alt="EN">
              <span>EN</span>
            </div>
            <div class="header__nav-option" data-value="ukr">
              <img src="../../images/flags/ukr.webp" alt="UKR">
              <span>UKR</span>
            </div>
          </div>
        </div>

        <button type="button" id="book-btn" class="book__btn">
          <div class="book__btn-text">Book an appointment</div>
          <div class="book__btn-arrow"><svg
              class="icon icon-free-icon-font-angle-small-right"><use
                xlink:href="#icon-free-icon-font-angle-small-right"></use></svg></div>
        </button>
      </div>
    </div>

  </nav>
</header>