<div class="header-google-rating">
  <div class="header-google-rating__header">
    <div class="header-google-rating__header-logo">
      <img src="./images/google-logo.svg" alt="google">
    </div>
    <div class="header-google-rating__header-rating">
      <div class="header-google-rating__header-title">
        Google Rating
      </div>
      <div class="header-google-rating__header-assessment">
        <div class="header-google-rating__header-points">
          4.7
        </div>
        <div class="header-google-rating__header-stars">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-star.webp" alt="star">
          <img src="./images/google-semistar.webp" alt="star">
        </div>
      </div>
    </div>
  </div>
  <div class="header-google-rating__footer">
    <a href="https://www.google.com/maps/place/SPACE+SERVICE-WARSZTAT+SAMOCHODOWY/@52.2859801,20.9056993,17z/data=!4m15!1m8!3m7!1s0x471eca165e527475:0xbd93d37c10830dce!2sW%C3%B3lczy%C5%84ska+173,+01-919+Warszawa,+Polska!3b1!8m2!3d52.2859768!4d20.9082796!16s%2Fg%2F11f32yhbg3!3m5!1s0x471ecb94acddf727:0x59b8207ada0d9e4!8m2!3d52.2852577!4d20.9090842!16s%2Fg%2F11x0hqwh7l?authuser=0&hl=pl&entry=ttu&g_ep=EgoyMDI2MDQyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">See all our reviews </a>

  </div>
</div>