<div class="mobile-menu">
  <div class="mobile-menu__close-btn">
    <svg class="icon icon-free-icon-font-cross-small-3917123"><use
        xlink:href="#icon-free-icon-font-cross-small-3917123"></use></svg>
  </div>

  <div class="mobile-menu__content">

    <div class="mobile-menu__nav">
      <h6 class="mobile-menu__title">Menu:</h6>
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="#about" class="mobile-menu__nav-link">About Us</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#gallery" class="mobile-menu__nav-link">Gallery</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#services" class="mobile-menu__nav-link">Services</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#reviews" class="mobile-menu__nav-link">Reviews</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#contacts" class="mobile-menu__nav-link">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu__contacts">
      <h6 class="mobile-menu__title--small">Contact details:</h6>
      <ul class="mobile-menu__contacts-list">
        <li class="mobile-menu__contacts-item">
          <a
            href="https://www.google.com/maps/place/W%C3%B3lczy%C5%84ska+173,+01-919+Warszawa,+Polska/@52.2859801,20.9056993,17z/data=!3m1!4b1!4m6!3m5!1s0x471eca165e527475:0xbd93d37c10830dce!8m2!3d52.2859768!4d20.9082796!16s%2Fg%2F11f32yhbg3?authuser=0&hl=pl&entry=ttu&g_ep=EgoyMDI2MDQwMS4wIKXMDSoASAFQAw%3D%3D"
            class="mobile-menu__contact-link"> <svg
              class="icon icon-marker"><use
                xlink:href="#icon-marker"></use></svg> 01-919, Wólczyńska 173,
            Warsaw</a>
        </li>

        <li class="mobile-menu__contacts-item">
          <a
            href="mailto:space.service.ws7@gmail.com"
            class="mobile-menu__contact-link"> <svg
              class="icon icon-envelope"><use
                xlink:href="#icon-envelope"></use></svg>
            space.service.ws7@gmail.com</a></li>

        <li class="mobile-menu__contacts-item">
          <div class="mobile-menu__contact-link">
            <svg class="icon icon-call-outgoing">
              <use xlink:href="#icon-call-outgoing"></use>
            </svg>

            <span>+48 </span>

            <span class="mobile-menu__contact-sublink">Show full number</span>

            <a href="tel:+480123456789"
              class="mobile-menu__contact-link--active">
              123456789
            </a>
          </div></li>
      </ul>
    </div>
    
    <!--=include selects/mobile-lang-select.html-->

    <div class="mobile-menu__socials">
      <h6 class="mobile-menu__title--small">Follow us:</h6>
      <ul class="mobile-menu__socials-list">
        <li class="mobile-menu__socials-item">
          <a href="#" class="mobile-menu__social-link"><img
              src="../../images/socials/x.webp" alt="x"></a>
        </li>
        <li class="mobile-menu__socials-item">
          <a href="#" class="mobile-menu__social-link"><img
              src="../../images/socials/instagram.webp" alt="instagram"></a>
        </li>
        <li class="mobile-menu__socials-item">
          <a href="#" class="mobile-menu__social-link"><img
              src="../../images/socials/telegram.webp" alt="telegram"></a>
        </li>
        <li class="mobile-menu__socials-item">
          <a href="#" class="mobile-menu__social-link"><img
              src="../../images/socials/facebook.webp" alt="facebook"></a>
        </li>
        <li class="mobile-menu__socials-item">
          <a href="#" class="mobile-menu__social-link"><img
              src="../../images/socials/linkedin.webp" alt="linkedin"></a>
        </li>
      </ul>
    </div>
  </div>
</div>