<div class="form-phone-select">
  <div class="form-phone-select__lang">

    <div class="form-phone-select__current">
      <img src="./images/flags/ukr.webp" alt="UKR">
      <span>+380</span>
      <svg class="icon icon-angle-down">
        <use xlink:href="#icon-angle-down"></use>
      </svg>
    </div>

    <div class="form-phone-select__dropdown">
      <div class="form-phone-select__option" data-value="+380">
        <img src="./images/flags/ukr.webp" alt="UKR">
        <span>+380</span>
      </div>
      <div class="form-phone-select__option" data-value="+48">
        <img src="./images/flags/gb.webp" alt="EN">
        <span>+48</span>
      </div>
    </div>

    <!-- 🔥 прихований інпут -->
    <input type="hidden" name="phone_code" value="+380">

  </div>
</div>