<div class="mobile-lang-select">
  <div class="mobile-lang-select__container">
    <div class="mobile-lang-select__container-current">
      <img src="./images/flags/gb.webp" alt="EN">
      <span>ENGLISH</span>
      <svg class="icon icon-angle-down"><use
          xlink:href="#icon-angle-down"></use></svg>
    </div>

    <div class="mobile-lang-select__dropdown">
      <div class="mobile-lang-select__option" data-value="en">
        <img src="./images/flags/gb.webp" alt="EN">
        <span>ENGLISH</span>
      </div>
      <div class="mobile-lang-select__option" data-value="ukr">
        <img src="./images/flags/ukr.webp" alt="UKR">
        <span>UKRAINIAN</span>
      </div>
    </div>
  </div>
</div>