.burger-menu-btn {
  position: fixed;
  z-index: 100;
  top: 48px;
  right: 48px;
  display: none;

  @include medium {
    top: 32px;
    right: 32px;
  }

  @include wide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__burger {
    width: 40px;
    height: 40px;
    background-color: var(--c-red);
    backdrop-filter: blur(32px);
    border: 2px solid var(--c-secondary);
    border-radius: var(--br-cycle);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & .icon {
      width: 16px;
      height: 16px;
      color: var(--c-secondary);
    }

    &:hover {
      background-color: var(--c-secondary);
      border: 2px solid var(--c-red);
      transition: background-color 0.3s ease, border 0.3s ease;

      & .icon {
        color: var(--c-red);
      }
    }
  }
}