.burger-menu-btn {
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 16px;
  display: none;

  &__burger {
    width: 40px;
    height: 40px;
    background-color: var(--c-red);
    backdrop-filter: blur(32px);
    border-radius: var(--br-cycle);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & .icon {
      width: 16px;
      height: 16px;
      color: var(--c-secondary);
    }

    &:hover {
      background-color: var(--c-secondary);
      border: 2px solid var(--c-red);
      transition: background-color 0.3s ease, border 0.3s ease;

      & .icon {
        color: var(--c-red);
      }
    }
  }



}

@include wide {
  .burger-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}