.book__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @include mobile {
    justify-content: space-between;
    gap: 0;
  }

  @include small {
    width: 100%;
  }

  background-color: var(--c-red);
  backdrop-filter: blur(32px);
  border: none;
  border-radius: var(--br-32);

  color: var(--c-secondary);
  font-size: var(--fs-14);
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(205, 5, 10, .8);
  }

  &:hover &-arrow {
    transform: scale(1.2);
  }

  &:hover &-arrow .icon-free-icon-font-angle-small-right {
    transform: translateX(3px);
  }

  &-text {
    padding: 16px 0 16px 16px;
  }

  &-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--c-secondary);
    border-radius: var(--br-cycle);
    margin-right: 8px;
    transition: transform 0.3s ease;


    .icon-free-icon-font-angle-small-right {
      color: var(--c-primary);
      transition: transform 0.3s ease;
    }
  }

  /* 🔥 МОДИФІКАТОР */
  &--secondary {
    background-color: var(--c-secondary);
    color: var(--c-primary);
    width: 100%;

    .book__btn-arrow {
      background-color: var(--c-red);

      .icon-free-icon-font-angle-small-right {
        color: var(--c-secondary);
      }
    }

    &:hover {
      background-color: var(--c-red);
      outline: 1px solid var(--c-secondary);
    }

    &:hover .book__btn-arrow {
      border: 1px solid var(--c-secondary);
    }

    &:hover .book__btn-text {
      color: var(--c-secondary);
    }
  }
}