.header-google-rating {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 16px 65px auto;
  padding: 16px;
  background-color: var(--c-secondary);
  border-radius: var(--br-16);

  @include small {
    width: 200px;
    margin: 0 auto 240px;
    padding: 12px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;

    &-logo img {
      width: 36px;

      @include small {
        width: 20px;
      }
    }

    &-title {
      font-size: var(--fs-10);
      font-family: var(--f-semi);
    }

    &-rating {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @include small {
        gap: 0;
      }
    }

    &-assessment {
      display: flex;
      gap: 8px;
    }

    &-points {
      font-family: var(--f-jakarta);
      font-size: var(--fs-16);
      font-weight: 800;
      color: var(--c-star-gold);

      @include small {
        font-size: var(--fs-11);
      }
    }
  }

  &__footer {
    position: relative;

    & a {
      display: block;
      font-size: var(--fs-10);
      color: var(--c-primary);
      text-decoration: underline;

      &::after {
        content: url('../images/angle-small-right.svg');
        display: block;
        position: absolute;
        top: 4px;
        right: 0px;
      }
    }
  }

}