.header {
  background-image: url('../../images/header-bg/header-bg1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  border-radius: var(--br-32);

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 65px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
  }

  &__nav-list {
    display: flex;
    gap: 16px;
  }

  &__nav-link {
    padding: 12px;
    font-size: var(--fs-14);
    color: var(--c-secondary);
    font-family: var(--f-reg);
    transition: color 0.3s ease;

    &:hover {
      color: var(--c-red);
    }
  }

  &__nav-control {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__nav-lang {
    display: flex;
    position: relative;
    width: 120px;
    height: 47px;
    font-family: var(--f-reg);
    border-radius: var(--br-32);
    background: #78695F;
  }

  /* Поточне значення */
  &__nav-current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    padding: 8px 12px;
    background: #78695F;
    border-radius: 32px;
    cursor: pointer;
    color: var(--c-secondary);
    transition: 0.3s;
  }

  &__nav-current:hover {
    background: #00000066;
  }

  /* Прапор */
  &__nav-current img,
  &__nav-option img {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }

  /* Dropdown */
  &__nav-dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: #78695F;
    backdrop-filter: blur(32px);
    border-radius: 8px;
    overflow: hidden;
    display: none;
    z-index: 10;
  }

  /* Option */
  &__nav-option {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    cursor: pointer;
    color: var(--c-secondary);
    transition: 0.2s;
  }

  &__nav-option:hover {
    background: #00000066;
  }

    &__nav-option:first-child {
      border-bottom: 1 px solid var(--c-secondary);
    }

}

.book__btn {
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: var(--c-red);
  border: none;
  border-radius: var(--br-32);

  color: var(--c-secondary);
  font-size: var(--fs-14);
  cursor: pointer;

  &-text {
    padding: 16px 0 16px 16px;
  }

  &-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--c-secondary);
    border-radius: var(--br-cycle);
    margin-right: 8px;

    .icon-free-icon-font-angle-small-right {
      color: var(--c-primary);
    }
  }
}