.header {

  &__header-1,
  &__header-2,
  &__header-3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--br-32);
  }


  &__header-1 {
    background-image: url('../../images/header-bg/header-bg1.webp');
  }
  &__header-2 {
    background-image: url('../../images/header-bg/header-bg2.webp');
  }
  &__header-3 {
    background-image: url('../../images/header-bg/header-bg3.webp');
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin-bottom: 170px;
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 65px;
  }

  &__title-wrapper {
    max-width: 620px;
    padding: 0 32px 32px;
  }

  &__title {
    font-size: var(--fs-48);
    color: var(--c-secondary);
    font-family: var(--f-extra);
    text-transform: uppercase;
    line-height: 100%;
    padding-bottom: 4px;
  }

  &__subtitle {
    font-size: var(--fs-20);
    color: var(--c-secondary);
    font-family: var(--f-reg);
    padding-bottom: 24px;
  }

  &__info {
    margin-top: 65px;
    padding: 16px;
    backdrop-filter: blur(32px);
    border-radius: var(--br-16);
  }

  &__info-title,
  &__info-text {
    color: var(--c-secondary);
  }

  &__info-title {
    font-family: var(semi);
    font-size: var(--fs-20);
    padding-bottom: 4px;
  }

  &__info-text {
    font-family: var(--f-reg);
    font-size: var(--fs-14);
  }
}