<div class="request-success-modal">

  <div class="request-success-modal__wrapper">
    <div class="request-success-modal__close-btn">
      <svg class="icon icon-free-icon-font-cross-small-3917123"><use
          xlink:href="#icon-free-icon-font-cross-small-3917123"></use></svg>
    </div>

    <h2 class="request-success-modal__title">Your request <br>
      has been received</h2>

    <p class="request-success-modal__text">
      Thank you for reaching out. We’ll contact you shortly to discuss your request and offer the best solution.
    </p>

    <button class="request-success-modal__success-btn" type="button">
      ok
    </button>
  </div>

</div>