<div class="request-form-modal">

  <div class="request-form-modal__wrapper">
    <div class="request-form-modal__close-btn">
      <svg class="icon icon-free-icon-font-cross-small-3917123"><use
          xlink:href="#icon-free-icon-font-cross-small-3917123"></use></svg>
    </div>

    <div class="request-form-modal__logo">
      <img src="./images/logos/mobile-logo.webp" alt="logo">
    </div>

    <h2 class="request-form-modal__title">Send a Request</h2>

    <p class="request-form-modal__text">
      Leave a request and our specialist will contact you shortly to clarify
      details, answer your questions, and offer the best solution for your
      vehicle.
    </p>

    <!--= include forms/form.html-->
  </div>

  <div class="request-form-modal__image">
    <div class="gradient"></div>
    <img src="./images/request-form-bg.webp" alt="bg">
  </div>
</div>