.about-us {
  display: grid;
  grid-template-columns: (1fr 1fr 2fr);
  gap: 16px;

  @include medium {
    grid-template-columns: (1fr 1fr);
  }


  &__container-item {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include medium {
      grid-column: 1 / 3;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__choose-item,
  &__advantage-item {
    padding: 32px;
    color: var(--c-secondary);
    border-radius: var(--br-32);
  }

  &__choose-item {
    position: relative;
    overflow: hidden;
    background-image: url(../images/main-choose-bg.webp);
    background-position: center;
    background-size: cover;

    @include small {
      grid-column: 1 / 3;
    }

    @include mobile {
      height: 370px;
    }
  }

  &__choose-content {
    position: relative;
    inset: 0;
    z-index: 20;
    margin-bottom: 228px;

    @include small {
      margin-bottom: 10px;
    }

    @include mobile {
      margin-bottom: 150px;
    }
  }

  &__choose-title {
    font-family: var(--f-bold);
    font-size: var(--fs-20);
    padding-bottom: 8px;
  }

  &__button {
    position: relative;
    z-index: 20;
  }

  &__advantage-item {
    display: flex;
    background-color: var(--c-red);

    @include small {
      grid-column: 1 / 3;
    }

    @include mobile {
      height: 370px;
    }
  }

  &__advantage-text {
    align-content: end;
    font-family: var(--f-extra);
    font-size: var(--fs-26);
    text-transform: uppercase;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
  }

  &__article {
    border-radius: var(--br-32);
    background-color: var(--c-gray-bg);
    padding: 24px;
    color: var(--text-primary);

    &--max-height {
      height: 100%;
    }

    @include medium {
      height: 100%;
    }
  }

  &__article-header {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
  }

  &__article-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-20);
    width: 38px;
    height: 38px;
    background-color: var(--c-secondary);
    border-radius: var(--br-cycle);
  }

  &__article-title {
    font-family: var(--f-bold);
    font-size: var(--fs-16);
    line-height: 120%;
  }
}

.progressive-blur {
  position: absolute;
  inset: 0;
  z-index: 10;

  backdrop-filter: blur(20px);

  /* 🔥 градієнтна маска */
  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0.4) 45%,
      rgba(0, 0, 0, 0) 60%);
}