.comfort-section {
  margin-bottom: 50px;

  &__header {
    text-align: center;
    margin-bottom: 16px;
  }

  &__title {
    font-size: var(--fs-24);
    font-family: var(--f-extra);
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    gap: 16px;
    padding-bottom: 15px;
    margin-bottom: 16px;

    @include small {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    padding: 24px;
    text-align: center;
  }

  &__item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: var(--br-cycle);
    background-color: var(--c-red);
    font-size: var(--fs-31);
    margin-bottom: 8px;
  }

  &__item-title {
    font-family: var(--f-bold);
    font-size: var(--fs-16);
    margin-bottom: 8px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    padding: 0 24px 0;
  }
}