.services-section {
  display: flex;
  justify-content: space-between;

  @include norm {
    flex-direction: column;
  }

  &>div {
    flex: 1;
  }

  &__header {
    max-width: 506px;
    margin-top: 33px;
    margin-bottom: 32px;
  }

  &__appeal {
    font-family: var(--f-extra);
    font-size: var(--fs-31);
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 8px;

    @include mobile {
      font-size: var(--fs-21);
      width: 260px;
      text-align: center;
      margin: 0 auto 8px;
    }

    & span {
      color: var(--c-red);
    }
  }

  &__text {
    margin-bottom: 16px;
    line-height: 100%;
    ;

    @include mobile {
      text-align: center;
    }
  }

  &__book-btn {
    @include mobile {
      max-width: 294px;
      margin: 0 auto;
    }
  }
}