:root {
  /* Fonts */
  --f-reg: "Regular";
  --f-bold: "Bold";
  --f-semi: "SemiBold";
  --f-extra: "ExtraBold";
  --f-jakarta: "Jakarta";

  --fs-14: 14px; 
  --fs-48: 48px;
  --fs-20: 20px;
  --fs-31: 31px;
  --fs-26: 26px; 
  --fs-16: 16px;
  --fs-24: 24px;
  --fs-12: 12px; 

  /* colors */

  --c-primary: #000000;
  --c-secondary: #FFFFFF;
  --c-gray-text: #808080;
  --c-gray-bg: #F0F0F0;
  --c-red: #CD050A;
  --c-blue: #0059FF;

  /* blur */
  
  --blur-32: blur(32px);

  /* border radius */

  --br-16: 16px;
  --br-32: 32px;
  --br-cycle: 50%;
}
  